<fieldset class="desing">
  <include
    class="desing__title"
    title2="title2"
    src="./title.html"
    title="Diseña"
    font_awesome="far fa-object-ungroup"
  ></include>
  <section class="options js_collapsable_content hidden">
    <h6 class="options__subtitle subtitle">Colores</h6>
    <div class="radio">
      <include
        src="./paleta_colores.html"
        name="blue_scale"
        value="0"
        color1="dark_green_blue"
        color2="dirty_blue"
        color3="hospital_green"
      ></include>
      <include
        src="./paleta_colores.html"
        name="red_scale"
        value="1"
        color1="dried_blood"
        color2="rusty_red"
        color3="tomato"
      ></include>
      <include
        src="./paleta_colores.html"
        name="mix_scale"
        value="2"
        color1="slate"
        color2="faded_orange"
        color3="light_grey_blue"
      ></include>
    </div>
  </section>
</fieldset>
