<fieldset class="main__fieldset-desing">
  <h3 class="main__fieldset-desing--title">
    <i class="far fa-object-ungroup"></i> Diseña
  </h3>
  <h6 class="main__fieldset-desing--subtitle">Colores</h6>
  <label>
    <input type="radio" name="blue-scale" value="blue-scale" />
    <div class="colors-container">
      <div class="colors-container__color dark_green_blue"></div>
      <div class="colors-container__color dirty_blue"></div>
      <div class="colors-container__color hospital_green"></div>
    </div>
  </label>
  <label>
    <input type="radio" name="red-scale" value="red-scale" />
    <div class="colors-container">
      <div class="colors-container__color dried_blood"></div>
      <div class="colors-container__color rusty_red"></div>
      <div class="colors-container__color tomato"></div>
    </div>
  </label>
  <label>
    <input type="radio" name="mix-scale" value="mix-scale" />
    <div class="colors-container">
      <div class="colors-container__color slate"></div>
      <div class="colors-container__color faded_orange"></div>
      <div class="colors-container__color light_grey_blue"></div>
    </div>
  </label>
</fieldset>
