<fieldset class="fill">
  <h3><i class="far fa-keyboard"></i> rellena</h3>
  <form action="/signup" method="post">
    <label for="fullName">Nombre completo</label>
    <input placeholder="Ej: Sally Jill" type="text" name="fullName" />
    <label for="job">Puesto</label>
    <input placeholder="Ej: Front-end unicorn" type="text" name="job" />
    <label for="Añadir imagen">Imagen de perfil</label>
    <input type="submit" value="Añadir imagen" />
    <label for="emailAddress">Email</label>
    <input
      placeholder="Ej: sally-hill@gmail.com"
      type="email"
      name="emailAddress"
    />
    <label for="phone">Teléfono</label>
    <input placeholder="Ej: 555-55-55-55" type="tel" name="phone" />
    <label for="linkedin">Linkedin</label>
    <input
      placeholder="Ej: linkedin.com/sally.hill"
      type="text"
      name="linkedin"
    />
    <label for="github">Github</label>
    <input placeholder="Ej: @sally-hill" type="text" name="github" />
  </form>
</fieldset>
