<fieldset class="fill">
  <h3><i class="far fa-keyboard"></i> rellena</h3>

  <label for="fullName">Nombre completo</label>
  <input
    placeholder="Ej: Sally Jill"
    type="text"
    name="fullName"
    class="fill__label"
  />
  <label for="job">Puesto</label>
  <input
    placeholder="Ej: Front-end unicorn"
    type="text"
    name="job"
    class="fill__label"
  />
  <label for="Añadir imagen">Imagen de perfil</label>
  <input type="submit" value="Añadir imagen" />
  <label for="emailAddress">Email</label>
  <input
    placeholder="Ej: sally-hill@gmail.com"
    type="email"
    name="emailAddress"
    class="fill__label"
  />
  <label for="phone">Teléfono</label>
  <input
    placeholder="Ej: 555-55-55-55"
    type="tel"
    name="phone"
    class="fill__label"
  />
  <label for="linkedin">Linkedin</label>
  <input
    placeholder="Ej: linkedin.com/sally.hill"
    type="text"
    name="linkedin"
    class="fill__label"
  />
  <label for="github">Github</label>
  <input
    placeholder="Ej: @sally-hill"
    type="text"
    name="github"
    class="fill__label"
  />
</fieldset>
