<fieldset class="fill">
  <include
    src="./title.html"
    title="Rellena"
    font_awesome="far fa-keyboard"
  ></include>
  <section class="js_collapsable_content hidden">
    <div class="fill__data">
      <label for="fullName" class="fill__label">
        Nombre completo<span class="fill__label--asterisk">*</span></label
      >
      <input
        id="fullName"
        placeholder="Ej: I am Groot!"
        type="text"
        name="fullName"
        class="fill__input js_name"
        required=""
      />
      <label for="job" class="fill__label"
        >Puesto<span class="fill__label--asterisk">*</span></label
      >

      <input
        id="job"
        placeholder="Ej: I am Groot-developer"
        type="text"
        name="job"
        class="fill__input"
        required=""
      />
    </div>

    <div class="fill__photo">
      <label for="photo" class="fill__label"
        >Imagen de perfil<span class="fill__label--asterisk">*</span></label
      >

      <label class="fill__photo--upload-btn" for="img-selector"
        >Añadir imagen</label
      >
      <input
        type="file"
        name=""
        id="img-selector"
        class="fill__photo--hiddenField js__profile-upload-btn"
      />

      <div class="fill__photo--preview js__profile-preview"></div>
    </div>

    <div class="fill__media">
      <label for="emailAddress" class="fill__label"
        >Email<span class="fill__label--asterisk">*</span></label
      >
      <input
        id="emailAddress"
        placeholder="Ej: iamgroot@gmail.com"
        type="email"
        name="emailAddress"
        class="fill__input"
        required=""
      />
      <label for="phone" class="fill__label"
        >Teléfono<span class="fill__label--asterisk">*</span></label
      >
      <input
        id="phone"
        placeholder="Ej: 555-55-55-55"
        type="tel"
        name="phone"
        class="fill__input js_linktel"
        required=""
      />
      <label for="linkedin" class="fill__label"
        >Linkedin<span class="fill__label--asterisk">*</span></label
      >
      <input
        div
        id="linkedin"
        placeholder="Ej: linkedin.com/Groot"
        type="text"
        name="linkedin"
        class="fill__input"
        required=""
      />
      <label for="github" class="fill__label"
        >Github<span class="fill__label--asterisk">*</span></label
      >
      <input
        id="github"
        placeholder="Ej: @Groot!"
        type="text"
        name="github"
        class="fill__input"
        required=""
      />
    </div>
  </section>
</fieldset>
