// Fonts
$OpenSans: "Open Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;
$Merriweather: "Merriweather', serif";

// Colors
$dark_green_blue: #114e4e;
$dirty_blue: #438792;
$hospital_green: #a2deaf;
$dried_blood: #420101;
$rusty_red: #bd1010;
$tomato: #e95626;
$orange: #e17334;
$slate: #3e5b65;
$faded_orange: #eab052;
$light_grey_blue: #a0c0cf;
$gunmetal: #54585a;
$azure: #00a0f5;
$white-four: #f5f5f5;
$white-two: #ffffff;
$palegrey: #dde9ed;
$silver: #bfcdd0;
$brownishgrey: #6b6b6b;
$pinkishgrey: #c5c5c5;
$whitegrey: #d8d8d8;
$groot_green: #81953b98;
$groot_brown: #e1b37398;
