// Fonts
$OpenSans: "Open Sans", sans-serif;

// Colors
$dark_green_blue: #114e4e;
$dirty_blue: #438792;
$hospital_green: #a2deaf;
$dried_blood: #420101;
$rusty_red: #bd1010;
$tomato: #e95626;
$slate: #3e5b65;
$faded_orange: #eab052;
$light_grey_blue: #a0c0cf;
$gunmetal: #54585a;
