.from {
  font-family: $OpenSans;
  color: $gunmetal;
  display: grid;
  .select {
    display: flex;
    flex-direction: column;
  }
  .icon {
    color: $orange;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .side {
    padding-left: 217px;
  }
}

@import "layout/design";
// DESIGN

@import "layout/share";
// SHARE

@import "layout/result";
// RESULT
