.main_interactive {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    min-height: 856px;
  }
}

fieldset {
  border-bottom: #d8d8d8 solid 1px;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  @include tablet {
    justify-content: flex-start;
    width: 50%;
    height: 70vh;
  }
}
.select {
  font-family: $OpenSans;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 30px 20px;

  @include tablet {
    width: 100%;
  }
}
.section--title {
  font-family: $OpenSans;
  text-align: left;
  color: $gunmetal;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  .title {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
  }
  .icon {
    color: $orange;
  }
  .arrow {
    float: left;
    &:hover {
      transform: rotate(180deg);
      padding-right: 168px;
    }
  }
}

span {
  padding-left: 9px;
}

@import "layout/design";
// DESIGN

@import "layout/share";
// SHARE

@import "layout/result";
// RESULT

@import "layout/fill";
// FILL
