.desing {
  text-transform: uppercase;
  height: 173px;
  &__title {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__subtitle {
    color: $gunmetal;
    font-size: 14px;
    font-weight: normal;
  }
  // .radio {
  //   display: flex;
  //   flex-direction: column;
  //   width: 120px;
  // }
  .option {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
  }
  & input {
    display: block;
    transform: scale(1.2);
    margin: 5px 10px;
  }
  .colors-container {
    row-gap: 20px;
    display: flex;
    flex-direction: row;
    &__color {
      width: 30px;
      height: 25px;
      display: block;
    }
  }
}

// Diferent colors
.dark_green_blue {
  background-color: $dark_green_blue;
}
.dirty_blue {
  background-color: $dirty_blue;
}
.hospital_green {
  background-color: $hospital_green;
}

.dried_blood {
  background-color: $dried_blood;
}
.rusty_red {
  background-color: $rusty_red;
}
.tomato {
  background-color: $tomato;
}
.slate {
  background-color: $slate;
}
.faded_orange {
  background-color: $faded_orange;
}
.light_grey_blue {
  background-color: $light_grey_blue;
}
