.header {
  height: 111px;
  padding: 30px 79px 30px 40px;
  display: flex;
  justify-content: center;
  background-color: $white-two;
  margin: auto;
  @media all and (min-width: 768px) {
    padding: 30px 527px 30px 40px;
    justify-content: flex-start;
  }
}
.header__img {
  width: 80px;
  height: 80px;
}
