.card__first__view {
  min-width: 320px;
  min-height: 457px;
  background: linear-gradient($silver, $palegrey);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    // height: 100%;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  @include desktop {
    width: 70%;
  }

  .button__reset {
    width: 75px;
    height: 30px;
    border-radius: 15px;
    border: solid 2px $palegrey;
    background-color: transparent;
    text-transform: uppercase;
    font-family: $OpenSans;
    font-size: 12px;
    margin-top: 38px;
    color: $gunmetal;

    @include tablet {
      margin-right: 170px;
    }
  }

  .card__example {
    padding-top: 2px;
    width: 240px;
    overflow: hidden; // hace que lo que sobre pasa no se muestre - Pendiente ver como hacer para que se ajuste el tamaño del texto al contenedor si es un nombre largo
    height: 329px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.35);
    border-radius: 2px;

    .text__section {
      text-transform: capitalize;
      margin-top: 15px;
      line-height: 1.4;

      .name__card {
        font-family: $montserrat;
        font-weight: 700;
        font-size: 18px;
        margin-left: 20px;
        margin-top: 15px;
      }

      .job__name {
        font-family: $montserrat;
        font-weight: 400;
        font-size: 16px;
        margin-left: 20px;
      }
    }

    .photo__example {
      margin-top: 15px;
      background-position: center;
      background-size: cover;
      &--logo {
        width: 240px;
        height: 200px;
      }
    }

    .link__section {
      margin-left: 20px;

      .circle__awesome {
        font-size: 18px;
        display: inline-block;
        text-align: center;
        margin-top: 5px;
        margin-left: 5px;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        line-height: 1.6;
      }
    }
  }
}
//Modifiers palettes
.palette_0 {
  .color_text {
    color: $dark_green_blue;
  }
  .color_job {
    color: $hospital_green;
  }
  .color_line {
    border-left: solid 5px $dirty_blue;
  }
  .color_circle {
    color: $dirty_blue;
    border: solid 2px $hospital_green;
  }
}

.palette_1 {
  .color_text {
    color: $dried_blood;
  }
  .color_job {
    color: $tomato;
  }
  .color_line {
    border-left: solid 5px $rusty_red;
  }
  .color_circle {
    color: $rusty_red;
    border: solid 2px $tomato;
  }
}

.palette_2 {
  .color_text {
    color: $slate;
  }
  .color_job {
    color: $light_grey_blue;
  }
  .color_line {
    border-left: solid 5px $faded_orange;
  }
  .color_circle {
    color: $faded_orange;
    border: solid 2px $light_grey_blue;
  }
}
