.share {
  &__visible {
    &--title {
      text-transform: uppercase;
      margin: 10px 137px 30px 10px;
    }
    &--button {
      width: 199px;
      height: 50px;
      margin: 30px 24px 30px 20px;
      padding: 13px 18px 13px 17px;
      border-radius: 12px;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
      background-color: $orange;
    }
  }
  &__info {
    &--p {
      color: $orange;
      font-size: 12px;
      font-weight: 600;
    }
    &--button {
      background-color: $azure;
      color: white;
      font-size: 14px;
      width: 181px;
      height: 30px;
      margin: 10px 33px 30px 29px;
      padding: 3px 9px 6px 10.5px;
      border-radius: 3px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    }
  }
  // .hidden {
  //   display: none;
  // }
}
