@import "core/variables";
@import "core/reset";
@import "core/mixins";
@import "core/animation";
@import "components/code";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "pages/index";
@import "pages/interactive";

button {
  background-color: $groot_green;
  &:hover {
    transform: scale(1.2);
    background-color: $groot_brown;
  }
}
